@import "tailwindcss";

@theme {
  /* Typography */
  --text-heading: 58px;
  --text-sans-large: 22px;
  --text-sans-small: 14px;
  --text-serif-large: 24px;
  --text-serif-small: 14px;

  /* Colors */
  --color-text: #000;

  /* Fonts*/
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Cormorant", serif;

  /* Breakpoints */
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1512px;
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-LightItalic.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-MediumItalic.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-SemiBoldItalic.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/Cormorant/Cormorant-BoldItalic.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(./assets/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf)
    format('truetype');
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}



body {
  margin: 0;
  background-color: #ffffff;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}